.beers {        
    width: 100%;    
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
   /* height: 680px;*/
    background: whitesmoke;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;   
}

.back {
    margin-top:0;
}

h2 {
    margin-left: 15px;
    margin-bottom: 3px;
    font-size: 1.1rem;
}

.beers a {
   text-decoration: none;  
}

.card-container, .card-container.main  {
    background: whitesmoke;
    padding: 3px;
    margin: 0;    
}

.card-container.main {   
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 99999;
}

.card {
    border: solid 1px  #F0A25B;
    border-radius: 25px;
}

.card-content {   
    padding: 3px;    
    display: flex;
    justify-content: center;    
}

.card-img {
    width: 100%;
    min-width: 35px;
    max-width: 85px;        
}

.card-img img {
    width: 40%;
    margin-top: 13px;
}

.card-text, .card-img {
    display: inline-block;    
}

.card-text  {
    position: relative;
    width: 100%;
    min-width: 10px;    
    max-width: 1200px;    
}

.card-text  p {    
    margin-top: 15px;
    text-align: justify;    
    font-size: .8rem;
    color:  #212121;
    overflow-y: auto;
    max-height: 80px;
    min-width: 10px;    
}

/* Beer Detail   */

.detail-section {
    text-align: center;
}


.detail-section a {
    text-align: center;
    color:#E37136;
}
.image-container {
    text-align: center;
}

.content {
    text-align: justify;
    color:  #212121;
    overflow-y: auto;
}

.image-container img {    
    width: 10%;    
}

.fa-thumbs-up,.fa-comment {
    color: #E37136;
    margin-left:5%;
    margin-top: 0;   
    font-size: 1.5rem;  
}

.like-comment {
   text-align: center;
}
