.controls {
  height: 100px;
  width: 100%; 
  text-align: center;
}

.disapear {
  display: none;
}

.controls-btn {
  color: whitesmoke;
}
.controls-btn span {
  font-weight: 400; 
}
.controls-btn input, .controls-btn button {
  width: 80%;   
}

.controls-btn button {  
  color: whitesmoke;
}

.controls-btn button {
  height: 100%;
  background:  #FFBD59;
  margin-top: 8px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 700;  
  border: 0;
  border-radius: 25px;
}

.controls-btn input {
  margin-bottom: 5px;
  
}

input, select  {
  line-height: 2.2rem;
}

select {
  width: 20%;
}
