.control-back {   
    display: none;
    margin-top: 20px;
    width: 80%;    
}

.control-back  a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;      
    border-radius: 25px;
    background:  #FFBD59;          
    padding: 14px; 
}

.appear {
    display: block;
    width: 100%;
    text-align: center;
}